*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    border: 0;
    font-family: sans-serif;
    font-weight: 500;
}
body {
    background: var(--background-body);
}
main {
    margin: 1rem;
    max-height: 100%;
    border-radius: 5px;
}
.header, .content_list {
    width: 100%;
    background: aliceblue;
    padding: 0.5rem;
    gap: 0.5rem 0;
}
.content_list {
    max-height: 100%;
    overflow: hidden;
    border-radius: 0 0 5px 5px;
    background: none;
    padding: 0;
}
.header .nueva_nota, .btn_agregar {
    background: var(--background-body);
    color: var(--color-blanco);
    margin: 0 1rem;
    height: 3rem;
    border-radius: 5px;
}
.header .nueva_nota, .btn_agregar i {
    font-size: 25px;
    line-height: 1.5rem;
}
.header {
    display: grid;
    grid-template-areas: 
        "titulo"
        "input"
        "button";
    grid-template-columns: 90% 10%;
    grid-template-rows: auto;
    border-radius: 5px 5px 0 0;
    border-bottom: var(--border);
}
.header .header_titulo {
    grid-area: titulo;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    text-align: center;
    font-size: 20px;
    color: var(--color-negro);
}
.header .nueva_nota {
    grid-area: input;
    grid-column: 1 / 3;
    grid-row: 2 / 2;
    text-align: center;
    font-size: 16px;
    padding: 0 0.4rem;
}
.header .btn_agregar {
    grid-area: button;
    grid-column: 1 / 3;
    grid-row: 3 / 3;
    text-align: center;
}
.content_list .list {
    display: flex;
    gap: 0.4rem;
    padding: 1rem;
    width: 100%;
    justify-content: flex-end;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    background: aliceblue;
}
.content_list .list .item_list {
    background: var(--background-body);
    border-radius: 5px;
    display: grid;
    width: 100%;
    height: 3rem;
    padding: 1rem;
    grid-template-areas:
        "titulo"
        "eliminar";
    grid-template-columns: 90% 10%;
    grid-template-rows: auto;
    justify-items: center;
}
.content_list .list .item_list .nota {
    grid-area: nota;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    color: var(--color-blanco);
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;
    padding-right: 2rem;
}
.content_list .list .item_list .close {
    grid-area: eliminar;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    border-radius: 4px;
    color: var(--color-blanco);
    background: transparent;
    cursor: pointer;
}
.content_list .list .item_list .close i {
    font-size: 16px;
}
.content_list .list .item_list .close:hover, .close:active {
    color: red;
}


@media screen and (max-width: 320px) {

}